
.topBanner {
    display: flex;
    justify-content: space-between;
    background-color: #c6ddef;
    height: auto;
    padding: 5rem;
}
.aboutus {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: auto;
    padding: 5rem;
}

.ContentHead {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 2rem;
    width: 80%;

}

.Content-Para {
    font-weight: 100;
    font-size: 20.5px;
    margin-bottom: 2rem;
    width: 80%;
}

.content {
    padding-left: 3rem;
    width: 50%;
    justify-content: center;
    /* padding: 10rem; */
}

.image {
    width: 50%;
    justify-content: center;

}


/* all media queries */

@media (min-width: 1400px) {
    .topBanner {
        display: flex;
        justify-content: space-between;
        background-color: #c6ddef;
        height: auto;
        padding: 5rem;
    }
    .aboutus {
        display: flex;
        justify-content: space-between;
        background-color: white;
        height: auto;
        padding: 5rem;
    }

    .ContentHead {
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 2rem;
        width: 80%;

    }

    .Content-Para {
        font-weight: 100;
        font-size: 20.5px;
        margin-bottom: 2rem;
        width: 80%;
    }

    .content {
        padding-left: 3rem;
        width: 50%;
        justify-content: center;
        /* padding: 10rem; */
    }

    .image {
        width: 50%;
        justify-content: center;

    }
}

@media (max-width: 1400px) {
    .topBanner {
        display: block;
        justify-content: center;
        background-color: #c6ddef;
        height: auto;
        padding: 5rem;
    }

    .ContentHead {
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 2rem;
        /* width: 80%; */

    }

    .Content-Para {
        font-weight: 100;
        font-size: 20.5px;
        margin-bottom: 2rem;
        /* width: 80%; */
    }

    .content {
        padding-left: 3rem;
        width: 100%;
        justify-content: center;
        /* padding: 10rem; */
    }

    .image {
        display: block;
        width: 70%;
        justify-content: space-around;
        padding: 3rem;

    }
}


@media (max-width: 576px) {
    .topBanner {
        display: block;
        justify-content: center;
        background-color: #c6ddef;
        height: auto;
        padding: 5rem;
    }

    .ContentHead {
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 2rem;
        /* width: 80%; */

    }

    .Content-Para {
        font-weight: 100;
        font-size: 20.5px;
        margin-bottom: 2rem;
        /* width: 80%; */
    }

    .content {
        padding-left: 3rem;
        width: 100%;
        justify-content: center;
        /* padding: 10rem; */
    }

    .image {
        display: block;
        width: 70%;
        justify-content: space-around;
        padding: 3rem;

    }
}
