.navbar {
    background-color: #0070f3;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}