.Reseapro-Navbar {
    background-color: #f0f8ff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 2rem;
}

.navbar-button {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-button button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #016DCA;
    width: 40%;
    height: 2.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-image {
    width: 20%;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 10px;
    color: #5E5A5A;
    font-weight: 500;
    font-size: 20px;
}

.nav-link {
    text-decoration: none;
    color: #5E5A5A;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #016DCA;
}