/* Footer.css */
.footer-container {
    background-color: #0574d9;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .footer-container h3 {
    font-weight: bold;
    color: white;
    
  }
  
  .nav.flex-column .nav-item.mb-4 {
    font-size: 1rem; /* Normal font size */
  }
  
  .ftext2 .nav.flex-column .nav-item.mb-4 {
    font-weight: bold; /* Bold font weight */
  }
  
  .text-white {
    color: white !important; /* Ensure text color is white */
  }
  
  .divider {
    background-color: #48C7EC;
    width: 2rem;
    height: 5px;
    margin-top: 1rem; /* Adjust as needed for spacing */
    margin-bottom: 2rem;
  }

  .imagef{
    background-color: white;
    padding: 5px 20px;
  }
